@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cover-style {
    @apply aspect-square rounded-full transition-all group-hover:scale-110 group-hover:blur-none group-hover:grayscale-0 md:blur-sm md:grayscale;
  }
  .link-wrapper {
    @apply flex max-w-xl flex-col gap-4;
  }
  .list-of-link-wrapper {
    @apply flex min-w-full flex-col flex-wrap justify-around gap-6 gap-y-24 md:flex-row;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
